.Home {
    width: 100%;
    height: auto;
    /* background-color: #022e66; */
    background-image: url(../../assets/back2.jpg);
    display: flex;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-Home {
    width: 100%;
    height: auto;
    z-index: 0;
}


@media screen and (max-width:1200px) {
    
    .container-Home {
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    
    .container-Home {
        width: 100%;
    }
}

.container-experience {
    margin: 350px 0;

}