.container-footer {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(1,11,38);
    background: linear-gradient(90deg, rgba(1,11,38,1) 0%, rgba(1,11,38,0.969625350140056) 51%, rgba(111,59,97,1) 98%);
}
.container-footer li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

/* Social */
.container-social {
    width: 400px;
    height: 50px;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-social img {
    width: 50px;
}
.container-social img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}