/* Container */
.Header {
  width: 100%;
  height: 600px;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/*  */
.Header-txt {
  width: 50%;
  height: 400px;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Header-txt h1 {
  font-size: 4rem;
  animation: fadinText-1 3s ;
}
.Header-txt p {
    font-size: 2rem;
}

@keyframes fadinText-1 {
    0% {
      opacity:0;
      filter: blur(5px);
      transform: translatex(-100%);
    }
    100% {
      opacity:1;
      filter: blur(0);
      transform: translateX(0);
    }
}
.Header-txt p {
    animation: fadinText-2 3s ;
}
@keyframes fadinText-2 {
    0% {
      opacity:0;
      filter: blur(5px);
      transform: translatex(-100%);
    }
    100% {
      opacity:1;
      filter: blur(0);
      transform: translateX(0);
    }
}

/* Image */

.image_container {
  width: 50%;
  height: auto;
}
.image_container img {
  clip-path: polygon(50% 0%, 100% 0, 94% 37%, 100% 84%, 85% 96%, 50% 100%, 14% 94%, 0 80%, 4% 39%, 0 0);
}

@media screen and (max-width:1200px) {
  .Header {
    flex-direction: column;
  }
  .image_container img {
    width: 90%;
  }
  .Header-txt {
    width: 90%;
  }
  .Header-txt h1  {
    width: 100%;
    font-size: 40px;
  }
}
@media screen and (max-width:600px) {
 
}